 <!-- NAVBAR -->
 <div class="navbar">
  <%= link_to '#' do  %>
    <%= image_tag 'skuunaq-logo.png', class: 'navbar-logo' %>
  <% end %>
  <ul class="nav nav-pills stick-to-right" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="first">Who We Are</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="second">A Shared Vision</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="third">Driving Change</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="fourth">Energy Hub</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="fifth">Contact</a>
    </li>
  </ul>
</div>

<!-- Javascript to direct to different section -->
<script>
  document.getElementById('first').addEventListener('click', () => {
      window.scrollTo({
        top: document.querySelector('.section-one').offsetTop,
        behavior: 'smooth'
      });
    })
    document.getElementById('second').addEventListener('click', () => {
      window.scrollTo({
        top: document.querySelector('.section-two').offsetTop,
        behavior: 'smooth'
      });
    })
    document.getElementById('third').addEventListener('click', () => {
      window.scrollTo({
        top: document.querySelector('.section-three').offsetTop,
        behavior: 'smooth'
      });
    })
    document.getElementById('fourth').addEventListener('click', () => {
      window.scrollTo({
        top: document.querySelector('.section-four').offsetTop,
        behavior: 'smooth'
      });
    })
    document.getElementById('fifth').addEventListener('click', () => {
      window.scrollTo({
        top: document.querySelector('.section-five').offsetTop,
        behavior: 'smooth'
      });
    })
</script>


<!-- HOME -->
<!--Empty Div For Layout Purposes -->
<div class="height100 section ">
</div>

<!-- INTRO -->
<div class="intro banner">
  <div class="banner-content">
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1><span class="welcome-to">Welcome to</span> <br> <span class="title">Skuunaq Energy</span></h1>
    <h3 id="pavingtheway">Paving the way to a Hydrogen Economy</h3>
    <br>
     <a href="#whoweare" class="btn btn-primary">Learn More</a>
   </div>
</div>

<!-- Changeable Footer - Homepage -->
<div class="homepage-footer">
  <%= image_tag 'skuunaq-logo.png', class: 'footer-logo' %>
  <p>A safe, economic and sustainable energy future</p>
</div>

<!-- Who We Are Page -->
<div class="height100 section section-one" id="whoweare">
</div>

<div class="content-height whoweare-banner">
  <div class="whoweare-content">
    <br>
    <p class="radical-vision">Skuunaq Energy has a radical vision, <br> with hydrogen at its core.</p>
    <p>Based in Northern Ireland, we strongly believe our project will act as the catalyst to decarbonise the energy industry. In doing so, we seek to pave the way towards a reliable, robust and secure-energy future.</p>
    <p>This large-scale project will inspire and enable other businesses and projects to embrace their hydrogen-powered future, bring high-skilled jobs while placing NI at the leading-edge of the Global Hydrogen Revolution.</p>
  </div>
</div>

<div class="homepage-footer">
  <%= image_tag 'skuunaq-logo.png', class: 'footer-logo' %>
  <p>A safe, economic and sustainable energy future</p>
</div>

<!-- A SHARED VISION -->

<div class="height100 section section-two" id="sharedvision">
</div>

<div class="content-height sharedvision-banner">
  <div class="sharedvision-content">
    <br>
    <h1>A Vision for Carbon Neutrality <br> in our Energy Sector</h1>
    <br>
    <p><em>"The UK missed the boat on wind technology and on batteries. We cannot afford to miss the boat on hydrogen..."</em><br><span id="baroness"> - Baroness Brown, Committee on Climate Change</span></p>
    <br>
    <p>Skuunaq Energy has brought together a number of Global partners who have a shared vision and a proven track record in the renewable energy field.</p>
    <p>By partnering with a number of local businesses to form Skuunaq Energy, we continually demonstrate our commitment to Northern Ireland. Together, we are heavily invested in delivering a cleaner, more efficient, sustainable-energy future both locally and beyond.</p>
  </div>
</div>

<div class="homepage-footer">
  <%= image_tag 'skuunaq-logo.png', class: 'footer-logo' %>
  <p>Thinking Globally, Acting Locally</p>
</div>

<!-- DRIVING CHANGE -->

<div class="height100 section section-three" id="drivingchange">
</div>

<div class="content-height drivingchange-banner">
  <div class="drivingchange-content">
    <h1><em>"Climate is the main driver for hydrogen in the energy transition"</em> - IRENA, 2019</h1>
    <br>
    <p>The UK Climate Change Act commits the UK to a 100% reduction of GHG emissions by 2050 from 1990 baseline levels. By embracing the fuel of the future now, Northern Ireland can not only reach its 2050 climate change targets but bring economic growth for the region.</p>
    <p>Skuunaq Energy will assist Northern Ireland to recover lost ground in achieving its climate change commitments and drive change through innovative renewable technologies to put the Green Economy well on track to achieve its 2050 targets.</p>
  </div>
</div>

<div class="homepage-footer">
  <%= image_tag 'skuunaq-logo.png', class: 'footer-logo' %>
  <p>Helping tackle Climate Change</p>
</div>


<!--ENERGY HUB -->

<div class="height100 section section-four" id="energyhub">
</div>

<div class="content-height energyhub-banner">
  <div class="energyhub-content">
    <h1>Bringing technical innovation <br> to create lasting change</h1>
    <br>
    <p><em>"Developing hydrogen technology has the potential to not only reduce emissions from the industry, but could also help us seize the opportunities of the global shift to cleaner economies - with the prize of up to 2m jobs and £170bn of annual exports by 2030"</em> <br>- Lord Duncan, UK Climate Minister</p>
    <p>Skuunaq Energy have an ambitious plan for expanding the production and availability of hydrogen with our tailor-made facility. We believe collaboration between those involved in delivering the vision of a decarbonised hydrogen future will drive down the construction cost of renewable energy.</p>
    <p>We believe that by working together in partnership, we can make Northern Ireland a recognised Global Energy Hub of Excellence.</p>
  </div>
</div>

<div class="homepage-footer">
  <%= image_tag 'skuunaq-logo.png', class: 'footer-logo' %>
  <p>A project of scale for Northern Ireland and beyond </p>
</div>


<!-- CONTACT -->

<div class="height100 section section-five" id="contact">
</div>

<div class="content-height contact-banner">
  <div class="contact-content">
    <h1 id="getintouch">Get in Touch</h1>
      <form
        action="https://formspree.io/mrgynjoo"
        method="POST"
        class="inline-form text-center">
      <label>
        Your Name:<br>
        <input type="text" name="name">
      </label>
      <label>
        Your Email:<br>
        <input type="text" name="_replyto">
      </label>
      <label>
        Your Message:<br>
        <textarea name="message"></textarea>
      </label>

  <!-- your other form fields go here -->

      <button type="submit" class="submit-button text-center">Send Message</button>
    </form>
  </div>
</div>

<div class="homepage-footer">
  <%= image_tag 'skuunaq-logo.png', class: 'footer-logo' %>
  <p>A project of scale for Northern Ireland and beyond </p>
</div>

<!-- Javascript - first for the navbar, second for snap scroll -->
<script>
  document.querySelectorAll('.nav-link').forEach((link) => {
    link.addEventListener('click', (event) => {
      document.querySelectorAll('.nav-link').forEach((link) => {
        link.classList.remove('active');
      })
        event.currentTarget.classList.add('active');
    });
  });

    let gra = function(min, max) {
    return Math.random() * (max - min) + min;
    }

    let init = function(){
    let items = document.querySelectorAll('.section');
    for (let i = 0; i < items.length; i++){
        items[i].style.background = randomColor({luminosity: 'light'});
    }
    cssScrollSnapPolyfill()
    }
    init();
</script>



